---
import type { CollectionEntry } from "astro:content"
import { getCollection } from "astro:content"
import ArticlesList from "../components/ArticlesList.astro"
import FeaturedProjects from "../components/FeaturedProjects.astro"
import Tabs from "../components/Tabs.astro"
import Tutorials from "../components/Tutorials.astro"
import { tutorials } from "../data/tutorials"
import Layout from "../layouts/Layout.astro"

const articles = await getCollection("articles")

// Sort articles by publishedAt date in descending order
const sortedArticles = articles.sort(
  (a: CollectionEntry<"articles">, b: CollectionEntry<"articles">) =>
    b.data.publishedAt.getTime() - a.data.publishedAt.getTime()
)

// Sort tutorials by publishedAt date in descending order
const sortedTutorials = [...tutorials].sort(
  (a, b) =>
    new Date(b.publishedAt).getTime() - new Date(a.publishedAt).getTime()
)

const tabs = [
  { id: "coding", label: "Coding" },
  { id: "tutorials", label: "Tutorials" },
]

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Infranotes - Home">
  <div class="c4a0m">
    <div class="c8b8k">
      <div class="c7qcc">
        <!-- Latest Articles -->
        <section>
          <h2 class="cpynq c670g c8dzi cec5b">Latest Articles</h2>

          <!-- Tabs -->
          <Tabs tabs={tabs} activeTab="coding" />

          <!-- Tab content -->
          <!-- Coding tab content -->
          <div class="tab-content" data-tab="coding">
            <ArticlesList articles={sortedArticles} />
          </div>

          <!-- Tutorials tab content -->
          <div class="tab-content hidden" data-tab="tutorials">
            <Tutorials tutorials={sortedTutorials} />
          </div>
        </section>

        <!-- Popular Talks -->
        <div class="tab-content" data-tab="coding">
          <Tutorials tutorials={sortedTutorials} isFeatured={true} />
        </div>

        <div class="tab-content" data-tab="coding">
          <!-- Fetaured Projects -->
          <FeaturedProjects />
        </div>
      </div>
    </div>
  </div>
</Layout>
